<main class="container">
  <p class="text-black" role="alert"><%= get_flash(@conn, :info) %></p>
  <p class="text-black" role="alert"><%= get_flash(@conn, :error) %></p>
  <%= @inner_content %>
</main>
